*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	outline: none;
}
img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
html{
	font-size: 62.5%;
	font-family: 'Spartan', sans-serif;
}
body{
	max-width: 100%;
	height: 100%;
	position: relative;
	overflow-x:hidden;
}
ul{
	list-style: none;
}
.header__container{
width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.left{
flex:1 1 78.6rem;
background-image: url(images/desktop-image-hero-1.jpg);
background-position: center;
background-size:cover;
background-repeat: no-repeat;
height: 50rem;
position: relative;
}
.list{
	width: 100%;
display: flex;
font-size: 1.2rem;
color: hsl(0, 0%, 100%);
align-items: center;
/*padding: 5rem 0;*/
padding: 5rem 0 5rem 5rem;
/*background-color: white;	*/
position: absolute;
}

.logo{
font-size: 2rem;
font-weight: 600;
}
.item{
	font-size: 1.2rem;
padding: 0 3rem;
}

.right{
flex:1 1 52.4rem;
display: flex;
padding: 5rem 10rem;
justify-content: center;
align-items: center;
background-color: white;
height: 100%;
}
.right__container{
}
.title{
font-size: 3rem;
padding: 0rem 0;
}
.right__p{
color: hsl(0, 0%, 63%);
padding: 2rem 0;
}
.right__link{
	padding: 1rem 0;
	letter-spacing: .5rem;
	font-size: 1.5rem;
	position: relative;
	color: hsl(0, 0%, 0%);
}
.right__link img{
	padding-left: 3rem;
	width: auto;
	height: auto;
	/*transform: translateY(-50%);*/
}
/*CLICK*/
.click{
	display: flex;
	position: absolute;
	bottom: 0;
	left: 100%;
}
.click img{
	height: auto;
	width: auto;
	background-color: black;
	padding: 1.5rem 2rem;
	
}

.bottom{
width: 100%;
height: 100%;
}
.bottom__container{
display: flex;
max-width: 100%;
flex-wrap: wrap;
}
.item1{
flex:1 1 20rem;
/*height: 50rem;*/
}
.item2{
flex:2 1 40rem;
padding: 4rem 4rem ;
display:flex;
flex-direction: column;
justify-content: center;
}
.item3{
flex:1 1 20rem;


}
.bottom__title{
font-size: 1.5rem;
font-weight: 700;
color: hsl(0, 0%, 27%);
}
.bottom__p{
color: hsl(0, 0%, 63%);
font-size: 1.2rem;
}
/*MOBLIE MENU START*/
.list__mobile{
	width: 100%;
	padding: 4rem 2rem ;
	height: 5rem;
	display: flex;
	display: none;
}
.menu{
	
}
.menu img{
	height: auto;
	width: auto;

}
.logo__mobile{
	margin: 0 auto;
}
.logo__mobile img{
	width: auto;
	height: auto;
}
.close {
	display: none;
}
.close img{
	width: auto;
	height: auto;
}

/*MOBILE MENU END*/
@media (min-width: 500px)and(max-width: 1024px){
	html{
		font-size: 60%;
	}
	.click{
		left: unset;
		right: 0;
	}
	.list{
		bottom: 100%;
		color: black;
		background-color: white;
		transition: 0.5s linear;
		position: absolute;
		z-index: 2;
	}
	.list__mobile{
		position: absolute;
		z-index: 1;
		display: flex;
	}
	.layout{
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.7);
		visibility: hidden;
		opacity: 0;
		transition: 0.5s linear;
		height: auto;
	}
	.show{
		visibility: visible;
		opacity: 1;
	}
}

@media (max-width: 500px){
	html{
		font-size:40%;
	}
	.click{
		left: unset;
		right: 0;
	}
	.list{
		/*width: 100%;*/
		bottom: 100%;
		color: black;
		background-color: white;
		transition: 0.5s linear;
		position: absolute;
		z-index: 2;
		left: 0;
	}
	.list .item:nth-child(2){
		display: none;
	}

	.list__mobile{
		width: 100%;
		position: absolute;
		z-index: 1;
		display: flex;
	}
	.layout{
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.7);
		visibility: hidden;
		opacity: 0;
		transition: 0.5s linear;
	}
	.show{
		visibility: visible;
		opacity: 1;
	}
}